// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

$primary:#C88A36;
$secondary: #764B36;
$danger: #ff0000;
$bg:#D8A790

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;
 
#9B4922

#EFE7DD
#D1774C
#D8A790
#EFE7DD
#F5C2AB


