* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.imageAboutSection{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.aboutImage {
    width: 500px;
    height: 500px;
    margin-top:20px;
    border-radius: 25px;
    opacity: 0.9;
    margin-bottom: 20px;

  
}

.containerAboutSection{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:30px;
  
}

.firstAboutSection {
   border: 1px solid rgba(128, 128, 128, 0.699);
   border-radius: 10%;
   width: 35vw;
   flex-basis:600px ;
   min-height: 600px;
   box-shadow: 10px 10px 80px grey;
   
}



.thirdAboutSection {
    min-height: 600px;
    border: 1px solid rgba(128, 128, 128, 0.699) ;
    border-radius: 10%;
    width: 35vw;
    flex-basis:600px ;
    box-shadow: 10px 5px 80px grey;
}

.containerAboutSection p {
    padding:20px;
}

.aboutHeaderSection {
    display: flex;
    justify-content: center;
    align-items: center;

}

.secondAboutSection {
    margin-bottom: 20px;
}

.card-header {
    color: rgb(212, 74, 19);
    text-align: center;
}

h2{
    color: rgb(202, 83, 36);
   
}
.card:hover {
    box-shadow: 10px 5px 80px grey;
    
}

@media (max-width:1200px) {
    .aboutImage {
        height: 600px;
        width: 600px;
    }
}  
  

  @media (max-width:993px) {
    .aboutImage {
        height: 450px;
        width: 450px;
    }
}  
  
@media (max-width:769px) {
    .aboutImage {
        height: 350px;
        width: 350px;
    }

   
}

  
@media (max-width:577px) {
    .aboutImage {
        height: 280px;
        width: 280px;
    }

    .card-text {
      font-size:small;
    }

    .open-button {
      width: 120px;
     }
    
}

