@use "base";
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  background: url(../../image/Pages-pg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Comfortaa", cursive;
  color: #764b36;
}
header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 100px;
  background: #c88a36;
  font-family: "Cherry Bomb One", cursive;
}
header .main-nav {
  background: #c88a36;
}
header nav img {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 0;
  left: 3%;
  border-radius: 50%;
  margin-top: 10px;
  z-index: 2;
}
header nav ul {
  float: right;
  margin-right: 25px;
  padding-top: 30px;
}
header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
header nav ul li a {
  position: relative;
  color: white;
  font-size: 25px;
  padding: 5px 0;
  text-transform: capitalize;
}
 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
 nav a:hover {
  text-decoration: underline;
}
header label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #c88a36;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}
header label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header label .hamburger:after,
header label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
header label .hamburger:before {
  top: -10px;
}
header label .hamburger:after {
  bottom: -10px;
}
header label input {
  display: none;
}
header label input:checked + .menu {
  box-shadow: 0 0 0 100vw #c88a36, 0 0 0 100vh #c88a36;
  border-radius: 0;
}
header label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}
header label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
header label input:checked + .menu + ul {
  opacity: 1;
}
header label ul {
  z-index: 200;
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}
header label a {
  margin-bottom: 1em;
  display: block;
  color: #fff;
  text-decoration: none;
}
main {
  margin-top: 100px;
}
.recipe-container {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
}
.card {
  width: auto;
  height: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 60px;
}
img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h2 {
  display: flex;
  padding: 40px;
  justify-content: center;
}
p {
  font-size: 16px;
  color: #555;
}
.main-banner {
  background-color: #e7d8ce;
  background-image: url(../../image/food.jpg);
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 200;
}
.banner-content p {
  color: rgb(255, 255, 255);
  font-size: medium;
  font-weight: 400;
  margin: 30px 0;
}
.main-banner a {
  border: 2px solid #c88a36;
  border-radius: 6px;
  background-color: #c88a36;
  width: fit-content;
  padding: 5px 20px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}
.main-banner a:hover {
  color: black;
  background-color: #ffad3a;
}
.contest-poster {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contest-poster img {
  height: 80vh;
  width: auto;
  border-radius: 10%;
  border: 8px solid #c88a36;
  box-shadow: 9px 9px 68px -12px rgba(0, 0, 0, 0.72);
}
h3 {
  color: white;
}
a:hover {
  background: none;
  color: white;
}
span {
  padding-left: 40px;
}
.email {
  padding-left: 10px;
}
.contact-list li {
  color: white;
}
.fas {
  color: #764b36;
}
.socials:hover {
  cursor: pointer;
}
.logo-footer {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 50%;
}
.page-links:hover {
  text-decoration: none;
}
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  padding: 30px 80px 10px 80px;
  background-color: #c88a36;
  font-family: "Cherry Bomb One", cursive;
}
footer img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15%;
}
@media screen and (min-width: 992px) {
  #headerIcon {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav {
    ul {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .main-nav {
    ul {
      display: none;
    }
  }
  nav img {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 0;
    left: 3%;
    border-radius: 50%;
    margin-top: 10px;
    z-index: 2;
  }
  .recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .contest-poster {
    padding-top: 15px;
    padding-bottom: 100px;
  }
  .contest-poster img {
    width: 360px;
    height: 508px;
  }
  .contest-poster {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 577px) {
  .main-nav {
    ul {
      display: none;
    }
  }
  nav img {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 0;
    left: 3%;
    border-radius: 50%;
    margin-top: 10px;
    z-index: 2;
  }
  .recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .contest-poster {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .contest-poster img {
    width: 240px;
    height: 339px;
  }
  .contact-info {
    display: none;
  }
  .links {
    display: none;
  }
  .comp-logo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    text-align: center;
  }
  .banner-content h1 {
    margin-top: 100px;
  }
  .footer-container {
    justify-content: space-around;
  }
  .logo-footer {
    width: 130px;
    height: 130px;
  }
}
