.one {
  background-image: url(../../image/568204d10821e9ba59c662fcbd18fb10_15min-butter_chicken-photo-final-1-16x9_1500_700.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  border-radius: 10px;
}

.food-image {
  background-image: url(../../image/butter-chicken--750x750.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.open-button {
  background-color: #9b4922;
  color: white;
  padding: 16px 20px;
  border-radius: 15px;
  border: 3px solid #c88a36;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 2px solid orange;
  background: white;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: orange;
  outline: none;
}

.form-container .btn {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.chat-head {
  color: orange;
}

b {
  color: orange;
}

::placeholder {
  color: white;
}
.ingredients {
  border: white;
}
.recipe {
  border: white;
  padding: 50px;
}
